@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body{
    background-color: white;
    align-items: center;
    width: 970px;
    margin: 30px auto;
}
 .titulo h1{
    margin: 0px;
}
 .titulo h2{
    margin: 2px;
    color: darkgrey;
}
.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 17px;
}
.topo{
    margin: 10px;
    height: 20px;
    padding-right: 5px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #ccaf8b;
    text-decoration: underline;
}

.titulo{
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

header{
    background-color: white;
    border: 2px solid black;
}



.meio{
    background-color: white;
    border-left: 2px solid black;
}
.corpo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.projetos{
    width: 25%;

}
.projetos p{
    background-color: white;
    border-top: 2px solid black;
}
.trabalho{
    width: 40%;
    background-color: white;

}
.trabalho a{
    color: rgb(118, 150, 236);
}
.trabalho a:hover{
    color: #ccaf8b;
    text-decoration: underline;
}
.educacao{
    width: 35%;
    background-color: white;

}

.fim{
    background-color: white;
}

.quadradomeio{
    border-right: 2px solid black;
    text-indent: 25px;
}
.quadradomeio a{
    margin: 25px;
}

.quadradofim{
    border: 2px solid black;
    padding-left: 35px;
}

.prof1{
    margin: 15px;
    padding: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 15%;
}
.prof2{
    margin: 15px;
    padding: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 15%;
}
.prof3{
    margin: 15px;
    padding: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 15%;
}
.fim{
    border: 2px solid black;
    flex-direction: row;
}

.fonte{
    font-family: "Fuzzy Bubbles", Comic Sans MS, Comic Sans, cursive, sans-serif; font-size: 15px;
}
.proj{
    text-align: justify;
    font-weight: 600;
}
.quadradofinal{   
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 15px;
}